{% extends "base.html" %}
{% block content %}

            <div class="col-12 col-sm-9 rounded-5 bg-light">
            <div class="pt-2"><h4>Bienvenido/a </h4></div>
            <div class="p-2 px-md-3">
                <p>Ha sido identificado como Nombre Completo y cuenta con privilegios de Recursos Humanos,
                    lo cual le habilita para crear nuevos registros de empleados, 
                    así como para visualizar y gestionar las listas de empleados registrados.
                </p>
            </div>
{% endblock content %}

        