{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="col-9 rounded-5 bg-light pb-4">
<div class="pt-3 pb-3"><h4><b>Registro de empleados</b></h4></div>
<div class="bg-white rounded-5 mx-5 pb-4">
    <form method='POST' class="mx-5 pt-4">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit"  class='btn btn-danger mt-2 rounded-4' value='Registrar trabajador'>
    </form>
</div>
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/css/inputmask.min.css" rel="stylesheet"/>
    <script src="{% static 'Register.js' %}"></script>
{% endblock js %}
{% endblock content %}
